autopep8==1.5.7
boto3==1.18.39
boto3-stubs==1.18.39
botocore==1.21.40
botocore-stubs==1.21.40
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
docutils==0.17.1
idna==3.2
jmespath==0.10.0
mypy==0.910
mypy-boto3==1.18.40
mypy-boto3-cloudwatch==1.18.39
mypy-extensions==0.4.3
pycodestyle==2.7.0
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
typed-ast==1.4.3
types-requests==2.25.6
types-six==1.16.1
typing-extensions==3.10.0.2
urllib3==1.26.6
